@media (max-width: 1279px) {
    /*CABEÇALHO*/
    .cabecalho {
        padding: 30px;
    }

    /*INFORMAÇÕES*/
    .home {
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding: 20px 20px !important;
    }
    .home .informacoes {
        max-width: 100%;
        text-align: center;
        align-items: center;
    }

    /*PROJETOS*/
    .projetos .container-projetos {
        padding: 0 30px;
    }
}

@media (max-width: 900px) {
    /*CABEÇALHO*/
    .cabecalho {
        left: auto;
        right: 10px;
        width: auto;
        background: none;
        box-shadow: none;
        backdrop-filter: none;
        border-radius: 0;
        padding: 10px;
    }
    .cabecalho .logo {
        display: none;
    }
    .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        width: 40px;
        height: 40px;
        background: rgba(21, 21, 21, 0.359);
        border: none;
        border-radius: 50px;
        z-index: 1100;
        cursor: pointer;
        position: relative;
    }
    .hamburger span {
        display: block;
        height: 2px;
        width: 80%;
        background: #fff;
        border-radius: 2px;
    }
    .cabecalho .menu {
        display: none;
        position: fixed;
        top: 60px;
        right: 10px;
        left: auto;
        background: #151515f2;
        border-radius: 20px;
        text-align: right;
        z-index: 1001;
        padding: 20px 0;
        min-width: 100px;
    }
    .cabecalho .menu.active {
        display: block;
    }
    .cabecalho .menu ul {
        flex-direction: column;
        gap: 15px;
    }

    /*INFORMAÇÕES*/
    .home .informacoes h1 {
        font-size: 30px;
    }
    .home .informacoes p {
        font-size: 16px;
        text-align: justify;
        padding-left: 15px;
        padding-right: 15px;
    }
    .home .container-foto img {
        max-width: 220px;
    }
    .home .container-foto {
        margin-left: 50px;
        margin-top: 20px;
    }

    /*TECNOLOGIAS*/
    .technologies-group {
        padding-top: 30px;
    }
    .technologies {
        flex-direction: row;
        align-items: flex-start;
        gap: 10px;
    }
    .technologies ul {
        flex-direction: row;
        justify-content: center;
        gap: 10px;
    }
    .technology-item img {
        margin-top: 20px;
        width: 50px;
        height: 50px;
        padding: 2px;
    }
    .technologies-label {
        font-size: 0.7rem;
        padding: 4px 10px;
    }

    /*CERTIFICADOS*/
    .certifications-group {
        padding-top: 30px;
    }
    .certifications-list {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .certifications-item {
        padding: 8px;
        width: 100%;
        max-width: 320px;
    }
    .certifications-item img {
        width: 50vw;
        max-width: 300px;
        height: auto;
        padding: 4px;
    }
    .certifications-label {
        font-size: 0.9rem;
        padding: 4px 10px;
        top: 90%;
    }
    /*PROJETOS*/
    .projetos {
        padding: 30px;
    }

    /*RODAPÉ*/
    .footer {
        margin-top: 0px;
    }
}
